@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid white;
  margin: 0 auto;
}

.grid div {
  height: 40px;
  width: 40px;
}

.ghost {
  background-color: orange;
}

.safe {
  background-color: green;
}

.checked {
  background-color: honeydew;
}